@use "../../styles/variables"

.Projeto
  display: flex
  flex-direction: row

.Detalhes
  display: flex
  flex-direction: column
  margin-left: 1.25rem

  h3
    transition: color 0.5s ease
    color: variables.$LightBlue
    font-size: 1.5rem
    font-weight: 700

  span
    transition: color 0.5s ease
    color: variables.$LightBlue
    font-size: 1rem
    font-weight: 700
    margin-top: 0.3rem

  p
    font-size: 0.875rem

  .danger
    transition: color 0.5s ease
    color: #FFA800

  .success
    transition: color 0.5s ease
    color: #05FF00

@media (max-width: variables.$MobileWidth)
  .Detalhes
    p
      font-size: 0.75rem
      width: 12.5rem
