@use './variables'

footer
    min-height: 12rem
    display: flex
    justify-content: center
    align-items: center
    margin-top: 2.5rem
    width: 100%
    border-top: solid variables.$LightBlue
    color:  variables.$LightBlue
    .github
        margin-right: 0.5rem
    span
        font-size: 2rem
        font-weight: 700
        max-width: 15rem
    a
        text-decoration: none
        color: variables.$LightBlue
        opacity: 0.8
        font-size: 1rem
        transition: color 0.5s
        &:hover
            color: darken(variables.$LightBlue, 25)
            svg
                fill: darken(variables.$LightBlue, 25)
            polyline, path
                stroke: darken(variables.$LightBlue, 25)
    polyline, path
        transition: stroke 0.5s
    svg
        transition: fill 0.5s



.FooterContent
    display: flex 
    flex-direction: row
    justify-content: space-around
    width: 100%
    li
        list-style: none
        margin-bottom: 1rem
        max-width: 18rem
    p
        font-size: 1rem
.title
    font-size: 1.2rem
    font-weight: 700
.opacity
    opacity: 0.7
.row
    display: flex
    flex-direction: row
    justify-content: space-between

@media( max-width:  variables.$MobileWidth)
    .FooterContent
        flex-direction: column
        align-items: center
        span
            margin-top: 1.25rem
    .social-container
        display: flex
        flex-direction: column
        align-items: center
