@use "./variables"


.Projetos
    display: flex
    flex-direction: column
    margin-top: 2.5rem
    width: 30rem
    h2
        color: variables.$LightBlue
        font-size: 3rem
        font-weight: 700
        margin-bottom: 0.5rem
    img
        max-height: 15rem
.Projeto
    display: flex
    flex-direction: row
.mt

    margin-top: 1.25rem
.Detalhes
    display: flex
    flex-direction: column
    margin-left: 1.25rem
    h3
        color: variables.$LightBlue
        font-size: 1.5rem
        font-weight: 700
    span
        color:  variables.$LightBlue
        font-size: 1rem
        font-weight: 700
        margin-top: 0.3rem
    p
        font-size: 0.875rem
    .danger
        color: #FFA800
    .success
        color: #05FF00
@media (max-width: variables.$MobileWidth)
    .Projetos
        width: 20rem
        h2
            font-size: 2rem
        img
            height: 12.5rem
    .Detalhes
        p
            font-size: 0.75rem
            width: 12.5rem
    